# FUTURES TESTNET — dari https://testnet.binancefuture.com
BINANCE_TESTNET_KEY=
BINANCE_TESTNET_SECRET=

# SPOT TESTNET — dari https://testnet.binance.vision (akun TERPISAH dari futures testnet)
BINANCE_TESTNET_SPOT_KEY=
BINANCE_TESTNET_SPOT_SECRET=

# PRODUCTION — dari https://www.binance.com/en/my/settings/api-management
BINANCE_API_KEY=
BINANCE_API_SECRET=
